include mixins
doctype html
html
    +head()
    title Dashboard | Kitapp
    body
        .page
            // Main Navbar
            +main-navbar()
            .page-content.d-flex.align-items-stretch
                // Side Navbar
                +sidebar("dashboard.html")
                .content-inner
                    // Page Header
                    header.page-header
                        .container-fluid
                            h2.no-margin-bottom Dashboard
                    section.welcome
                        .container-fluid
                            .card
                                .card-header.d-flex.align-items-center
                                    h3.h4 Welcome to Innopolis University Library!
                                .card-body
                                    b Schedule: 
                                    |                             Monday, Wednesday, Friday (except holidays), 13:00 — 17:30
                                    br
                                    br
                                    b Location: 
                                    | IU, 504b
                    // Page Footer
                    +footer()
        // Javascript files
        +java-script()
