doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Database | Kitapp
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='robots', content='all,follow')
        // Bootstrap CSS
        link(rel='stylesheet', href='css/bootstrap.min.css')
        // Font Awesome CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // Fontastic Custom icon font
        link(rel='stylesheet', href='css/fontastic.css')
        // Google fonts - Poppins
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,400,700')
        // theme stylesheet
        link#theme-blue(rel='stylesheet', href='css/style.default.css')
        // Custom stylesheet - for your changes
        link(rel='stylesheet', href='css/custom.css')
        // Favfa fa
        link(rel='shortcut icon', href='images/favicon.ico')
        // Tweaks for older IEs
        //if lt IE 9
            script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
            script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        .page
            // Main Navbar
            header.header
                nav.navbar
                    .container-fluid
                        .navbar-holder.d-flex.align-items-center.justify-content-between
                            // Navbar Header
                            .navbar-header
                                // Navbar Brand
                                a.navbar-brand(href='catalog.html')
                                    .brand-text.brand-big
                                        strong Kitapp
                                        span LMS
                                    .brand-text.brand-small
                                        strong Kitapp
                                // Toggle Button
                                a#toggle-btn.menu-btn.active(href='#')
                                    span
                                    span
                                    span
                            // Navbar Menu
                            ul.nav-menu.list-unstyled.d-flex.flex-md-row.align-items-md-center
                                // Notifications
                                li.nav-item.dropdown
                                    a#notifications.nav-link(rel='nofollow', data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        i.fa.fa-bell-o
                                        span.badge.bg-red 12
                                    ul.dropdown-menu(aria-labelledby='notifications')
                                        li
                                            a.dropdown-item(rel='nofollow', href='#')
                                                .notification
                                                    .notification-content
                                                        i.fa.fa-envelope.bg-green
                                                        | You
                                                        |                                             have 6 new messages
                                                    .notification-time
                                                        small 4 minutes ago
                                        li
                                            a.dropdown-item(rel='nofollow', href='#')
                                                .notification
                                                    .notification-content
                                                        i.fa.fa-twitter.bg-blue
                                                        | You have
                                                        |                                             2 followers
                                                    .notification-time
                                                        small 4 minutes ago
                                        li
                                            a.dropdown-item(rel='nofollow', href='#')
                                                .notification
                                                    .notification-content
                                                        i.fa.fa-upload.bg-orange
                                                        | Server
                                                        |                                             Rebooted
                                                    .notification-time
                                                        small 4 minutes ago
                                        li
                                            a.dropdown-item(rel='nofollow', href='#')
                                                .notification
                                                    .notification-content
                                                        i.fa.fa-twitter.bg-blue
                                                        | You have
                                                        |                                             2 followers
                                                    .notification-time
                                                        small 10 minutes ago
                                        li
                                            a.dropdown-item.all-notifications.text-center(rel='nofollow', href='#')
                                                strong view all notifications 
                                // Logout
                                li.nav-item
                                    a#logout.nav-link.logout(href='login.html')
                                        | Logout
                                        i.fa.fa-sign-out
            .page-content.d-flex.align-items-stretch
                // Side Navbar
                nav.side-navbar
                    // Sidebar Header
                    .sidebar-header.d-flex.align-items-center
                        .avatar
                            img#sidebar-avatar.img-fluid.rounded-circle(src='images/avatar-1.jpg', alt='...')
                        .title
                            h1#sidebar-username.h4 Elon Musk
                            p#sidebar-usertype Student
                    // Sidebar Navidation Menus
                    ul.list-unstyled
                        li
                            a(href='dashboard.html')
                                i.fa.fa-dashboard
                                | Dashboard
                        li
                            a(href='catalog.html')
                                i.fa.fa-book
                                | Catalog
                        li
                            a(href='user-card.html')
                                i.fa.fa-id-card
                                | User Card
                        li.active
                            a(href='database.html')
                                i.fa.fa-database
                                | Database
                        li
                            a(href='readers.html')
                                i.fa.fa-users
                                | Readers
                .content-inner
                    // Page Header
                    header.page-header
                        .container-fluid
                            h2.no-margin-bottom Database
                    section.tables
                        .container-fluid
                            .row
                                .col-lg-12
                                    .card
                                        .card-dropdown
                                            .dropdown
                                                button#database-dropdown-menu.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                    i.fa.fa-ellipsis-v
                                                .dropdown-menu.dropdown-menu-right.has-shadow(aria-labelledby='database-dropdown-menu')
                                                    a#add-new-entry.dropdown-item.remove(href='#')
                                                        i.fa.fa-plus
                                                        | Add new entry
                                        .card-header.d-flex.align-items-center
                                            h3.h4 Database
                                        .card-body
                                            .table-responsive
                                                table.table.table-striped.table-hover
                                                    thead
                                                        tr
                                                            th#row-0 ID
                                                            th#name-0 Name
                                                            th#surname-0 Surname
                                                            th#user-type-0 User Type
                                                            th#document-0 Document
                                                            th#status-0 Status
                                                            th#actions-0 Actions
                                                    tbody
                                                        tr
                                                            th#row-1(scope='row')
                                                                a(href='user-card.html') 12345354
                                                            th
                                                                a#name-1 Elon
                                                            th
                                                                a#surname-1 Musk
                                                            td#user-type-1 Student
                                                            td
                                                                a#document-1(href='document.html') Intoduction to algorithms
                                                            td#status-1 Due 05.03
                                                            td
                                                                button#returned-1.btn.btn-success(type='button')
                                                                    | Return
                                                                p
                                                                button#outstanding-request-1.btn.btn-warning(type='button')
                                                                    | Outstanding request
                                                        tr
                                                            th#row-2(scope='row')
                                                                a(href='user-card.html') 12334554
                                                            th
                                                                a#name-2 Steve
                                                            th
                                                                a#surname-2 Jobs
                                                            td#user-type-2 Student
                                                            td
                                                                a#document-2(href='document.html') Intoduction to algorithms
                                                            td#status-2 Due 05.03
                                                            td
                                                                button#returned-2.btn.btn-success(type='button')
                                                                    | Return
                                                                p
                                                                button#outstanding-request-2.btn.btn-warning(type='button')
                                                                    | Outstanding request
                                                        tr
                                                            th#row-3(scope='row')
                                                                a(href='user-card.html') 12354
                                                            th
                                                                a#name-3 Charles
                                                            th
                                                                a#surname-3 Darwin
                                                            td#user-type-3 Faculty
                                                            td
                                                                a#document-3(href='document.html') Intoduction to algorithms
                                                            td#status-3 Returned
                                                            td
                                                        tr
                                                            th#row-1afe(scope='row')
                                                                a(href='user-card.html') 12345354
                                                            th
                                                                a#name-1fs Elon
                                                            th
                                                                a#surnadfsme-1 Musk
                                                            td#user-typdfse-1 Student
                                                            td
                                                                a#documdfsent-1(href='document.html') Intoduction to algorithms
                                                            td#statusfsd-1 Reserved
                                                            td
                                                                button#retuvxrned-1.btn.btn-dark(type='button')
                                                                    | Give out
                    // Page Footer
                    footer.main-footer
                        .container-fluid
                            .row
                                .col-sm-4
                                    p Kitapp © 2018
                                .col-sm-4
                                    p Innopolis University, aud. 504b
                                .col-sm-4.text-right
                                    p
                                        | Design by 
                                        a.external(href='https://bootstrapious.com/admin-templates') Bootstrapious
                                    // Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='vendor/popper.js/umd/popper.min.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        script(src='vendor/jquery.cookie/jquery.cookie.js')
        script(src='vendor/chart.js/Chart.min.js')
        script(src='vendor/jquery-validation/jquery.validate.min.js')
        script(src='js/charts-home.js')
        script(src='js/front.js')
