include mixins
doctype html
html
    +head()
    title Database | Kitapp
    body
        .page
            // Main Navbar
            +main-navbar()
            .page-content.d-flex.align-items-stretch
                // Side Navbar
                +sidebar("database.html")
                .content-inner
                    // Page Header
                    header.page-header
                        .container-fluid
                            h2.no-margin-bottom Database
                    section.tables
                        .container-fluid
                            .row
                                .col-lg-12
                                    .card
                                        .card-dropdown
                                            .dropdown
                                                button#database-dropdown-menu.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                                    i.fa.fa-ellipsis-v
                                                .dropdown-menu.dropdown-menu-right.has-shadow(aria-labelledby='database-dropdown-menu')
                                                    a#add-new-entry.dropdown-item.remove(href='#')
                                                        i.fa.fa-plus
                                                        | Add new entry
                                        .card-header.d-flex.align-items-center
                                            h3.h4 Database
                                        .card-body
                                            .table-responsive
                                                table.table.table-striped.table-hover
                                                    thead
                                                        tr
                                                            th#row-0 ID
                                                            th#name-0 Name
                                                            th#surname-0 Surname
                                                            th#user-type-0 User Type
                                                            th#document-0 Document
                                                            th#status-0 Status
                                                            th#actions-0 Actions
                                                    tbody
                                                        tr
                                                            th#row-1(scope='row')
                                                                a(href='user-card.html') 12345354
                                                            th
                                                                a#name-1 Elon
                                                            th
                                                                a#surname-1 Musk
                                                            td#user-type-1 Student
                                                            td
                                                                a#document-1(href='document.html') Intoduction to algorithms
                                                            td#status-1 Due 05.03
                                                            td
                                                                button#returned-1.btn.btn-success(type='button')
                                                                    | Return
                                                                p
                                                                button#outstanding-request-1.btn.btn-warning(type='button')
                                                                    | Outstanding request
                                                        tr
                                                            th#row-2(scope='row')
                                                                a(href='user-card.html') 12334554
                                                            th
                                                                a#name-2 Steve
                                                            th
                                                                a#surname-2 Jobs
                                                            td#user-type-2 Student
                                                            td
                                                                a#document-2(href='document.html') Intoduction to algorithms
                                                            td#status-2 Due 05.03
                                                            td
                                                                button#returned-2.btn.btn-success(type='button')
                                                                    | Return
                                                                p
                                                                button#outstanding-request-2.btn.btn-warning(type='button')
                                                                    | Outstanding request
                                                        tr
                                                            th#row-3(scope='row')
                                                                a(href='user-card.html') 12354
                                                            th
                                                                a#name-3 Charles
                                                            th
                                                                a#surname-3 Darwin
                                                            td#user-type-3 Faculty
                                                            td
                                                                a#document-3(href='document.html') Intoduction to algorithms
                                                            td#status-3 Returned
                                                            td
                                                        tr
                                                            th#row-1afe(scope='row')
                                                                a(href='user-card.html') 12345354
                                                            th
                                                                a#name-1fs Elon
                                                            th
                                                                a#surnadfsme-1 Musk
                                                            td#user-typdfse-1 Student
                                                            td
                                                                a#documdfsent-1(href='document.html') Intoduction to algorithms
                                                            td#statusfsd-1 Reserved
                                                            td
                                                                button#retuvxrned-1.btn.btn-dark(type='button')
                                                                    | Give out
                    // Page Footer
                    +footer()
        // Javascript files
        +java-script()
        script(src='js/front.js')
